.env
.vscode/settings.json
__pycache__/
*.pyc
*.pyo

# PDFs originais não sobem pro repositório
pdfs/

# Uploads temporários
temp_uploads/
test_output_Como_é_calculada_a_indenização_por_perda.txt
test_output_como_funciona_a_cobertura_de_troca_de_pa.txt
